<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:命名空间（完全限定名） 指定你要哪一个接口的实现类-->
<mapper namespace="com.wt.dao.ProviderDao">

    <!--<select id="findArrayByCode" resultType="Provider">-->
        <!--select * from smbms_provider where proCode in-->
        <!--<foreach item="code" collection="array" open="(" separator="," close=")">-->
            <!--#{code}-->
        <!--</foreach>-->
    <!--</select>-->


    <!--/*-->
    <!--("#{proCode}","#{proCode}","#{proCode}"...)-->
    <!--item： 获取每一次遍历的值-->
    <!--collection 遍历集合的数据类型(必须小写）-->
    <!--open  前缀-->
    <!--close  后缀-->
    <!--separator  以什么分割-->
    <!--动态sql写法-->
    <!--*/-->
    <!--<select id="findListByCode" resultType="com.wt.pojo.Provider">-->
        <!--select * from smbms_provider where proCode in-->

        <!--<foreach item="code" collection="list" open="(" separator="," close=")">-->
            <!--#{code}-->
        <!--</foreach>-->
    <!--</select>-->

    <!--<select id="findArrayByCode" resultType="Provider">-->
        <!--select * from smbms_provider where proCode in-->
        <!--<foreach item="code" collection="array" open="(" separator="," close=")">-->
            <!--#{code}-->
        <!--</foreach>-->
    <!--</select>-->

    <select id="findMapByCode" resultType="com.wt.pojo.Provider">
        select * from smbms_provider where proCode in
        <foreach item="code" collection="codes" open="(" separator="," close=")">
            #{code}
        </foreach>
        and createdBy = #{createdBy}
    </select>




    <!--模糊查询所有-->
    <!--where标签条件成立自动添加where反之取消会同时自动取消和添加and-->
    <!--<trim>的属性-->
    <!--prefix:在sql语句前添加前缀-->
    <!--prefixOverrides:在sql语句前删除前缀-->
    <!--suffix:在sql语句后添加后缀-->
    <!--suffixOverrides:在sql语句后删除后缀-->
    <!--<select id="getByproNameAndByproDesc" resultType="com.wt.pojo.Provider">-->
    <!--select-->
    <!--proCode,-->
    <!--proName,-->
    <!--proDesc,-->
    <!--proContact from smbms_provider-->
    <!--&lt;!&ndash;<where>&ndash;&gt;-->
    <!--<trim prefix="where" prefixOverrides="and">-->
    <!--<if test="proName!=null">-->
    <!--proName like concat('%',#{proName},'%')-->
    <!--</if>-->
    <!--<if test="proDesc!=null">-->
    <!--and proDesc like concat('%',#{proDesc},'%')-->
    <!--</if>-->
    <!--&lt;!&ndash;</where>&ndash;&gt;-->
    <!--</trim>-->
    <!--</select>-->

    <!--sql片段-->
    <!--<select id="getByproNameAndByproDesc" resultType="com.wt.pojo.Provider">-->
        <!--select-->
        <!--<include refid="a"/>-->
        <!--from smbms_provider-->
        <!--<include refid="b"/>-->
    <!--</select>-->
    <!--<sql id="a">-->
          <!--proCode,-->
          <!--proName,-->
          <!--proDesc,-->
          <!--proContact-->
    <!--</sql>-->
    <!--<sql id="b">-->
        <!--<trim prefix="where" prefixOverrides="and">-->
            <!--<if test="proName!=null">-->
                <!--proName like concat('%',#{proName},'%')-->
            <!--</if>-->
            <!--<if test="proDesc!=null">-->
                <!--and proDesc like concat('%',#{proDesc},'%')-->
            <!--</if>-->
        <!--</trim>-->
    <!--</sql>-->


    <!--动态sql更新-->
    <!--优化sql语句，改变原来的部分信息其他参数不变-->


    <!--比如在id=19只改写了proName和proDesc那么id=19中Provider中其他属性的参数-->
    <!--仍然保持原来的样子不变-->
    <update id="updateProvider">
        update smbms_provider
        <set>
            <if test="proName!=null">
                proName=#{proName},
            </if>
            <if test="proDesc!=null">
                proDesc=#{proDesc},
            </if>
        </set>
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
        </where>
    </update>

    <!--insert into smbms_provider(proCode,proName,proDesc,proContact)-->
    <!--values (#{proCode},#{proName},#{proDesc},#{proContact})-->
    <insert id="addProvider">



        insert into smbms_provider
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="proCode!=null">proCode,</if>
            <if test="proName!=null">proName,</if>
            <if test="proDesc!=null">proDesc,</if>
            <if test="proContact!=null">proContact,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="proCode!=null">#{proCode},</if>
            <if test="proName!=null">#{proName},</if>
            <if test="proDesc!=null">#{proDesc},</if>
            <if test="proContact!=null">#{proContact},</if>
        </trim>
    </insert>

    <delete id="deleteProvider">
        delete from smbms_provider where id=#{id}
    </delete>



</mapper>
